img {
    width: 20%;
}

.row {
    position: absolute;
    display: flex;
    justify-content: center;
    width:100%;
    /* background-color: blue; */
}

.row:nth-child(even) {
    margin-top: 100px;
}

