:root {
    font-size: 62.5%;
    --primary-color: #b0c4de;
    --secondary-color: #6ca0dc;
    --third-color: #bcd4e6;
    --button-color: #281722;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: var(--primary-color);
}

input, button {
    appearance: none;
    background: none;
    cursor: pointer;
}

.App {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.btn {
    cursor: pointer;
}

/* font sizes */
.x-small {
    font-size: 0.5rem;
}

.small {
    font-size: 1rem;
}

.medium-small {
    font-size: 1.5rem;
}

.medium {
    font-size: 2rem;
}

.mid-medium {
    font-size: 3rem;
}

.medium-large {
    font-size: 3.5rem;
}

.large {
    font-size: 4rem;
}
