.whiteboard-container {
  position: relative;
  height: 900px;
  width: 1050px;
  margin-bottom: 10vh;
  margin-top: 10vh;
  left: 3.5vw;
}

.whiteboard-bg {
  position: absolute;
  height: 900px;
  width: 1050px;
  border-radius: 4px;
}

#canv {
  position: absolute;
  height: 900px;
  width: 1050px;
  border: 10px white solid;
  border-radius: 4px;
  box-shadow:
     0 1px 1px hsl(0deg 0% 0% / 0.075),
     0 2px 2px hsl(0deg 0% 0% / 0.075),
     0 4px 4px hsl(0deg 0% 0% / 0.075),
     0 8px 8px hsl(0deg 0% 0% / 0.075),
     0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.sample-canvas {
  position: absolute;
  height: 900px;
  width: 1050px;
  z-index: 1;

}

.whiteboard {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  height: 900px;
  width: 1050px;
}

.upper-canvas {
  position: absolute;
  height: 900px;
  width: 1050px;
}

.save-snap {
  background-color: white;
  background-image: url('../../public/download-icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  align-self: center;
  filter: brightness(140%);
  margin-bottom: 8vh;
  margin-top: -5vh;
  width: 6%;
  min-height: 7.5%;
  border: none;
  border-radius: 100%;
  box-shadow:
     0 1px 1px hsl(0deg 0% 0% / 0.075),
     0 2px 2px hsl(0deg 0% 0% / 0.075),
     0 4px 4px hsl(0deg 0% 0% / 0.075),
     0 8px 8px hsl(0deg 0% 0% / 0.075),
     0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.save-snap:hover {
  transition: .3s ease;
  transform: translateY(-3px);
}

.save-snap:active {
  transition: .3s ease;
  transform: translateY(0px);
}
