.whiteboard-container {
  position: relative;
  height: 800px;
  width: 800px;
  border: red 1px solid;
  margin-bottom: 10vh;
}

.whiteboard-bg {
  position: absolute;
  height: 800px;
  width: 800px;
  /* z-index: 1; */
  border: black 1px solid;
  
}

#canv {
  position: absolute;
  /* border: red 50px solid; */
    height: 800px;
  width: 800px;
}

.sample-canvas {
  position: absolute;
  height: 800px;
  width: 800px;
  /* border: green 5px solid; */
  z-index: 1;
  
}

.whiteboard {
  position: relative;
  font-family: sans-serif;
  text-align: center;
  height: 800px;
  width: 800px;
  /* z-index: 2; */
  border: orange 1px solid;
}









.upper-canvas {
  position: absolute;
  height: 800px;
  width: 800px;
  border: purple 1px solid;
}
