.image-capture-container {
  transform: scale(.8);
}

/* LIVE PHOTO CONTAINER */
.polaroid-cam {
  border-radius: 4px;
  border-top-left-radius: 0px;
  padding: 4rem;
  background-color: rgb(255, 255, 255);
  box-shadow:
     0 1px 1px hsl(0deg 0% 0% / 0.075),
     0 2px 2px hsl(0deg 0% 0% / 0.075),
     0 4px 4px hsl(0deg 0% 0% / 0.075),
     0 8px 8px hsl(0deg 0% 0% / 0.075),
     0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.camera-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 100%;
}

.no-video {
  height: 65vh;
}

.cheese {
  border: none;
  bottom: 2rem;
  left: 50%;
  padding: 1.5rem 2.1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-image: url('../../public/app-logo.png');
  background-color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center center;
  margin: 3rem 5rem;
  filter: brightness(115%);
  box-shadow:
     0 1px 1px hsl(0deg 0% 0% / 0.075),
     0 2px 2px hsl(0deg 0% 0% / 0.075),
     0 4px 4px hsl(0deg 0% 0% / 0.075),
     0 8px 8px hsl(0deg 0% 0% / 0.075),
     0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.cheese:hover {
  transition: 0.3s ease;
  transform: scale(0.98);
  transform: translateY(-6px);
  box-shadow:
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 6px 6px hsl(0deg 0% 0% / 0.075),
    0 12px 12px hsl(0deg 0% 0% / 0.075),
    0 18px 18px hsl(0deg 0% 0% / 0.075)
}

.cheese:active {
  transition: 0.3s ease;
  transform: scale(1);
  transform: translateY(0px);
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
}

.btn-styled {
  background-color: var(--secondary-color);
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  padding: 2rem 4rem;
}

.btn-styled:hover {
  background-color: var(--secondary-color);
  transition: 0.2s ease;
  transform: scale(0.98);
}

.preview {
  margin: 2rem;
  height: 30rem;
}

/* PHOTO ALBUM CONTAINER */

.sample-photo {
  height: 200px;
}

.controls {
  margin: 1rem 0.5rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.side-btns > * {
  margin: 1rem;
}

.preview-stage {
  padding: 1rem;
}

.preview-stage > h2 {
  color: #323944b4;
  margin: 1rem 0;
}

.hidden {
  display: none;
}
