.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0c4de;;
    height: 100vh;
    width: 100vw;
}

.form-container {
    width: 30vw;
    color: white;
}

.form-inner {
   background-color: #6ca0dc;
   padding: 5rem;
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
}

.form-inner > * {
    margin-top: 2rem;
}

.form-inner > h2 {
    margin-bottom: 2rem;
}

.input-login {
    border: none;

    color: white;

    border-bottom: 0.2rem solid white;
    font-size: 2rem;
    margin-left: 1rem;
    outline: #6ca0dc;
}

.input-login::placeholder {
    color: white;
}

.submit-name-btn {
    margin-top: 4rem;
    border: 0.2rem solid white;
    color: white;
    padding: 2rem;
    transition: all 200ms;
    appearance: none;
    background: none;
}
.submit-name-btn:hover {
    background-color: #6ca0dc;
    border: 0.3rem solid white;
}