.form-container {
    width: 30rem auto;
    color: white;
}

.form-inner {
   background-color: var(--third-color);
   border: 0.5rem solid rgb(214, 202, 202);
   padding: 5rem;
   display: flex;
   flex-direction: column;
}

.form-inner > * {
    margin-top: 2rem;
}

.form-inner > h2 {
    margin-bottom: 2rem;
}

.input-login {
    border: none;
    border-bottom: 0.2rem solid white;
    font-size: 2rem;
    margin-left: 1rem;
}

.input-login::placeholder {
    color: #7a3b31a4;
}

.submit-name-btn {
    margin-top: 4rem;
    border: 0.2rem solid white;
    color: white;
    padding: 2rem;
    transition: all 200ms;
}
.submit-name-btn:hover {
    background-color: #fb9687;
    border: 0.3rem solid white;
}