.navBar {
    display: flex;
    justify-content: space-between;
    top: 0px;
    z-index: 5;
    position: absolute;
    background-color: var(--secondary-color);
    height: 6vh;
    width: 100vw;
    padding: 15px;
}

.app-title {
    align-self: center;
    color: white;
    letter-spacing: .3rem;
}

.logout-btn {
    cursor: pointer;
    background-color: var(--third-color);;
    color: white;
    border: none;
    height: 3vh;
    width: 5vw;
    border-radius: 8px;
    box-shadow:
     0 1px 1px hsl(0deg 0% 0% / 0.075),
     0 2px 2px hsl(0deg 0% 0% / 0.075),
     0 4px 4px hsl(0deg 0% 0% / 0.075),
     0 8px 8px hsl(0deg 0% 0% / 0.075),
     0 16px 16px hsl(0deg 0% 0% / 0.075)
   ;
}