.chat-sidebar {
    margin-top: 6vh;
}

.chat {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 90vh;
    width: 20vw;
    border-top: none;
}

.chat-tab-text {
    color: rgb(81, 78, 78);
    align-items: center;
    letter-spacing: 0.2rem;
    margin-top: 2%;
}

form {
    display: flex;
}

input +label {
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: var(--third-color);
    color: white;
    border-bottom: none;
}

.chat-tab {
    display: flex;
}

.message-container {
    display: flex;
    flex-direction: column-reverse;
    height: 60vh;
    background-color: white;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    overflow-y: auto;
}

.message-box {
    height: 5vh;
    border: none;
    width: 100%;
    background-color: var(--third-color);;
    outline: var(--third-color);;
    padding-left: 1vw;
}

.button-send {
    display: block;
    width: 40%;
    background-color: var(--secondary-color);
    color: white;
    height: 5vh;
    border: none;
    border-radius: 0px;
    letter-spacing: .2rem;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075)
   ;
}

.socket-list {
    margin: 0.25vw 3vh;
}
