
.room {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
/* header {
    background-color: thistle;
    padding: 2rem;
    grid-column: 1 / 4;
  } */

  
.left-side {
    background-color: blue;
    grid-column: 1 / 2;
}

.stage {
    background-color: yellow;
    grid-column: 2 / 3;
}

.right-side {
    background-color: greenyellow;
    grid-column: 3 / 4;
}

.right-side-tabs {
    display: flex;
}

input +label {
    padding: 1rem;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: grey;
}

input:checked +label {
    padding: 1rem;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: greenyellow;
    border-bottom: none;
}

.message-container {
    height: 100%;
    background-color: white;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90%;
    border: 1px solid black;
    border-top: none;
}

.message-box {
    border: 1px solid black;
}

.button-send {
    display: block;
    width: 100%;
    border: 1px solid black;
}

.participants {
    height: 100%;
}

/* footer {
    background-color: blueviolet;
    grid-column: 1 / 4;
  } */